<p>Cảm ơn bạn đã dử dụng thẻ Gtap của chúng tôi. Vui lòng bấm tiếp tục để Đăng Ký và Cập nhật thông tin cá nhân cho thẻ</p>
<form method="POST">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="social_networks[0][name]" value="name1">
    <input type="text" name="social_networks[0][url]" value="url1">
    <input type="text" name="social_networks[1][name]" value="name2">
    <input type="text" name="social_networks[1][url]" value="url2">
    <input type="submit" text="Tiếp tục">
</form>


<form method="POST">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
        <label for="social-network-name"> Hãy chọn Mạng Xã Hội</label>
        <select class="form-control" id="social-network-name" name="socialNetworks[0][name]">
            <option value="1">Facebook</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="social-network-account-name">Tên hiển thị</label>
        <input type="text" class="form-control" name="socialNetworks[0][accountName]" id="social-network-account-name"
               placeholder="Nhập tên hiển thị của bạn" maxlength="255">
    </div>
    <div class="form-group">
        <label for="social-network-url">Địa chỉ trang cá nhân</label>
        <input type="url" class="form-control" name="socialNetworks[0][profileUrl]" id="social-network-url"
               placeholder="ví dụ: https://www.facebook.com/giaplinux hoặc https://www.facebook.com/profile.php?id=100027318624242"
               maxlength="255" value="https://">
    </div>
    <div class="form-group">
        <label for="social-network-description">Thông tin thêm</label>
        <textarea class="form-control" name="socialNetworks[0][description]" id="social-network-description" rows="3" placeholder="Đây là thông tin của người đẹp trai xinh gái "></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" text="Xác Nhận">
    </div>
</form>